.auth-form {
    position: relative;
    width: 25rem;
    max-width: 80%;
    margin: 4rem auto;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control input {
    padding: 4px 10px;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-actions button {
    background-color: #aaf;
    font: inherit;
    border: 1px solid #aaf;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    color: white;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
    background-color: #99f;
    border: 1px solid #99f;
}
